<div class="container">
<h1>Users</h1>
<ul class="list-group">
<% @users.each do |user| %>
  <li class="list-group-item d-flex justify-content-start gap-4 align-items-start">
  <span><img src="https://picsum.photos/id/64/200" class="card-img-top" alt="..."></span>
  <span class="d-flex justify-content-start gap-4 align-items-start">
   name: <%= user.name %>
  <span class="badge bg-primary rounded-pill"> number of posts: <%= user.posts.count %> </span>
  </span>
  </li>
<% end %>
</ul>
</div>