<div class="container mt-5">
<h1 class="fs-1 text-success text-center">Create new Post</h1>
<%= render 'form'%>
<%= link_to "Back Posts listing", user_posts_path, class: "btn btn-success ms-3 mt-5  px-3" %>
</div>
